@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Inter", sans-serif;
  background: #f8fafc;
  color: #0f172a;
}

/* Buttons */
button {
  cursor: pointer;
}